/* Propriétés générales */
* {
    margin: 0;
    font-family: "Open Sans";
    font-weight: 400;
    color: black;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.paragraph h2 {
    background-color: black;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}


/* Barre de navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: whitesmoke;
}

.nav-item-list {
    font-size: 1em;
}

.nav-item-link:hover {
    text-shadow: 0 0 0.03em cyan;
}


/* Small screens */
@media all and (max-width: 800px) {
    .navbar-list {
        flex-direction: column;
        padding: 0.5em 0em 0.5em 0em;
    }
}

/* Big screens */
@media all and (min-width: 800px) {
    .navbar-list {
        flex-direction: row;
    }
    .nav-item {
        padding: 1em 5em 1em 5em;
    }
}


.container-navbar {
    padding: 0.1em 0 0.1em 0;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-list {
    padding: 1em 0 1em 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-item-list {
    padding: 0 3em 0 3em;
    white-space: nowrap;
    text-align: center;
}

.nav-item-link {
    font-size: 2em;
}

.nav-item-link:hover {
    text-shadow: 0 0 0.03em white;
}


header {
    /* position: sticky;  Marche pas ? */
    background-image: url("../assets/banner.png");
    background-position: center;
    color: white;
    text-align: center;

    padding: 250px 0 200px;
    position: relative;
    background-position: 50%;
    background-size: cover;
}

header h1 {
    font-size: 3rem;
    color: black;
    font-weight: 1000;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

header h2 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

main {
    background-color: whitesmoke;
}


/* Big screens */
@media all and (min-width: 800px) {
    .paragraph {
        margin: 0.5em 0 0.5em 0;
    }
}
/* Big screens */
@media all and (max-width: 800px) {
    .paragraph {
        margin: 0;
    }
}

.paragraph {
    background-color: whitesmoke;
    color: black;
}


.container-paragraph {
    margin: 1em 0 1em 0;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    align-items: center;
}

.container-paragraph-texte {
    width: 45%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-line;      /* current browsers */
}

.container-paragraph-image {
    width: 45%;
}

.container-paragraph-image img:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}

/* Ecrans en mode portrait */
@media all and (orientation: portrait) {
    img {
        padding: 1em 0 1em 0;
        width: 90%;
    }
}

/* Ecrans en mode paysage et petit */
@media all and (orientation: landscape) and (max-width: 1200px) {
    img {
        max-width: 90%;
    }
}

/* Ecrans en mode paysage et grand */
@media all and (orientation: landscape) and (min-width: 1200px) {
    img {
        width: 500px;
    }
}

.hero img {
    height: 95%;
    width: auto;
}

.hero-content {
    z-index: 1;
}

.container-formulaire-1 {
    margin: 1em 0 1em 0;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    align-items: center;
}

.container-formulaire-2 {
    margin: 1em 0 1em 0;
    display: flex;
    flex-wrap: row;
    align-items: center;
}

.container-paragraph-element {
    width: 45%;
    word-wrap: break-word;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-line;      /* current browsers */
}


.formulaire {
    justify-content: flex-start;
    width: 90%;
}

/* fieldset {
    margin: 1em 1px 1em 1px;
} */


.formulaire-legal {
    padding: 0.5em 0 0.5em 0;
    font-size: 0.8em;
    color: rgb(50, 50, 50);
}

.formulaire-legal a {
    color: rgb(50, 50, 50);
    text-decoration: underline;
}


footer {
    padding: 1em 1em 1em 1em;
    background-color: gray;
    color: darkred;
}


footer a {
    text-decoration: underline;
}

.container-footer {
    padding: 0 0 1em 0;
    display: grid;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-title {
    text-align: center;
    padding: 0 0 0.5em 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}


.container-footer-with-icon {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}


.contact-icon {
    height: 20px;
    width: auto;
    padding: 0 0.2em 0 0;
}


.mentions-legales {
    text-decoration: underline;
    color: darkblue;
    text-align: center;
}